.container{
    background-image: url("../../assets/questions.jpg")
}


.questiondiv{
    
    font-family: Georgia, serif;
    font-weight: bolder;

}
.question{
    font-family: Georgia, serif;
    color: red;
    
}

button{
    align-items: right;
}
.answer{
    padding-left: 15px;
    color: black;
    background-color: lightgrey;
}