<app-header></app-header>
<div class="container">
    <h1>Ask any question</h1>
    
    <textarea #question id="w3review" name="w3review" rows="4" cols="50"></textarea><br>
    <button class="btn btn-primary" (click)="submit(question.value)">submit</button>
</div>
    <!--<div class="col-md-6">
        <input type="file" (change)="onFileChanged($event)">
    </div>
    <div>
        <input type="button" (click)="onUpload()" value="upload">
    </div>

    
    
</div>
<div class="container row">
    <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="image name"  [(ngModel)]="imageName" 
        name="name"/>

    </div>
    <div class="col-md-6">
        <input type="button" (click)="getImage()" value="Get Image">

    </div>
</div>
<div class="container row">
    <div class="col-md-12">
      <div *ngIf=retrivedImage>
        <img [src]="retrivedImage" >

      </div>
    </div>
  </div>-->